body{
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
  background-image: url("img/main-image.png");
  background-position: top center;
  background-repeat: no-repeat;
}

a{
  text-decoration: none;
}

a.dot{
  border-bottom: 1px dashed #81b3d2;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button{
  display: inline-block;

  padding: 8px 15px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus{
  background-color: #669ec0;
  border: none;
}

.button:active{
  opacity: 0.3;

  background-color: #5496bd;
  border: none;
}

.button-brown{
  font-size: 21px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button-brown:hover{
  background-color: #604e43;
  border: none;
}

.button-brown:focus{
  color: rgb(255, 255, 255, 0.3);

  background-color: #503e33;
  border: none;
}

.button.disabled,
.button:disabled{
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

.filter-results-info .button{
  padding: 2px 17px;
  font: inherit;
  font-weight: 700;
  color: #ffffff;
}

.filter-button{
  display: block;

  margin: 0 auto;
  padding: 6px 35px;

  font: inherit;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid white;
  border-radius: 2px;
  cursor: pointer;
}

.filter-button:hover{
  color: #000000;

  background-color: #ffffff;
  border: none;
}

.main-header{
  display: flex;
}

.main-navigation{
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

.main-header-logo{
  position: absolute;
  left: 50%;
  margin-left: -70px;

  width: 138px;
  height: 70px;
}

.info-navigation,
.coordinate-navigation{
  display: flex;
  width: 530px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.coordinate-navigation{
  justify-content: flex-end;
}

.info-navigation a,
.coordinate-navigation a{
  display: block;

  padding: 15px 0;

  color: #000000;
}

.info-navigation:first-child a{
  padding-left: 73px;
  padding-right: 112px;
}

.coordinate-navigation:last-child a{
  padding-right: 73px;
  padding-left: 112px;
}


.info-navigation a:hover,
.coordinate-navigation a:hover{
  color: #81b3d2;
}

.info-navigation a:focus,
.coordinate-navigation a:focus{
  color: #ffffff;

  opacity: 0.3;
}

.info-navigation a:active,
.coordinate-navigation a:active{
  color: #766357;
}

figure{
  width: 1195px;
  height: 508px;
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
}

.dignities{
  margin-bottom: 50px;
  text-align: center;
}

.dignities-title{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.page-title{
  width: 450px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.five-dignities{
  margin: 0px;
  margin-bottom: 48px;
  padding: 0px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.dignities-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.dignities-item{
  width: 400px;
  height: 256px;
  text-align: center;

  background-color: #eeeeee;
}

.dignities-item h2{
  margin: 45px 130px 25px 130px;
  padding: 0;
}

.dignities-item:nth-child(5) h2{
  margin: 45px 150px 25px 150px;
  padding: 0;
}

.dignities-item:first-child .dignities-item-image{
  width: 800px;
  height: 256px;

  background-image: url("../img/vicinity-Sedona.jpg");
  background-repeat: no-repeat;
}

.dignities-item:nth-child(2) .dignities-item-image{
  width: 800px;
  height: 256px;

  background-image: url("../img/devil's-bridge.jpg");
  background-repeat: no-repeat;
}

.dignities-item:first-child{
  order: -2;
}

.opportunity{
  order: -1;
}

.dignities-item:first-child,
.dignities-item:nth-child(2){
  display: flex;
  width: 1200px;
  text-align: center;
}

.dignities-item,
.dignities-item-info{
  width: 400px;
  text-align: center;
}

.dignities-item-info h2{
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.dignities-item-info p,
.dignities-item-info span{
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.dignities-item-info p,
.dignities-item p{
  margin-top: 28px;
}

.dignities-item-info .dignities-item-number{
  position: relative;
}

.dignities-item-info .dignities-item-number::before{
  content: "";

  position: absolute;
  top: 8px;
  left: 20px;

  width: 9px;
  height: 2px;

  background-color: #ffffff;
}

.dignities-item-info .dignities-item-number::after{
  content: "";

  position: absolute;
  top: 8px;
  right: 20px;

  width: 9px;
  height: 2px;

  background-color: #ffffff;
}

.dignities-item .dignities-item-number{
  position: relative;
}

.dignities-item span::before{
  content: "";

  position: absolute;
  top: 8px;
  left: 20px;

  width: 9px;
  height: 2px;

  background-color: #333333;
}

.dignities-item span::after{
  content: "";

  position: absolute;
  top: 8px;
  right: 20px;

  width: 9px;
  height: 2px;

  background-color: #333333;
}

.dignities-item-image{
  width: 800px;
}

.dignities-item-info{
  background-color: #81b3d2;
}

.opportunity-list{
  display: flex;
  height: 330px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.opportunity-item{
  width: 400px;
}

.opportunity-item h2{
  margin: 0;
  margin-top: 160px;
  margin-bottom: 24px;
  padding: 0;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.opportunity-item h2{
  position: relative;
}

.opportunity-item h2 .house::before{
  content: "";

  position: absolute;
  top: -100px;
  left: 50%;

  width: 77px;
  height: 77px;
  margin-left: -40px;

  background-image: url("../img/house.svg");
  background-position: top center;
  background-repeat: no-repeat;
  border: none;
}

.opportunity-item h2 .food::before{
  content: "";

  position: absolute;
  top: -100px;
  left: 50%;

  width: 77px;
  height: 77px;
  margin-left: -40px;

  background-image: url("../img/food.svg");
  background-position: top center;
  background-repeat: no-repeat;
  border: none;
}

.opportunity-item h2 .prize::before{
  content: "";

  position: absolute;
  top: -100px;
  left: 50%;

  width: 77px;
  height: 77px;
  margin-left: -40px;

  background-image: url("../img/prize.svg");
  background-position: top center;
  background-repeat: no-repeat;
  border: none;
}

.opportunity-item p{
  margin: 0;
  margin-left: 75px;
  margin-right: 85px;

  font:inherit;
}

.search-tour{
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0;
  padding: 0;

  text-align: center;
}

.search-tour .container{
  width: 445px;
  margin-bottom: 140px;
}

.search-tour .interested{
  margin-bottom: 30px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.search-tour p{
  margin:0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.map{
  position: relative;
}

.appointment{
  position: absolute;
  top: -88px;
  left: 318px;

  width: 574px;
  margin: 0 auto;

  background-color: #ffffff;
  outline: 2px solid red;
}

.appointment-form{
  display: flex;
  flex-wrap: wrap;
  margin: 50px 55px;

  text-align: left;
}

.appointment-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appointment-item:first-child,
.appointment-item:nth-child(2){
  width:460px;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.appointment-item:nth-child(3){
  width:230px;
  margin: 0;
  margin-right: 50px;
  padding: 0;
}

.appointment-item:nth-child(4){
  width: 180px;
  margin: 0;
  padding: 0;
}

.appointment-item label,
.appointment-item input{
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.appointment-item label{
  margin-right: 20px;
}

.appointment-item:nth-child(3) label{
  margin-right: 42px;
}

.appointment-item:nth-child(4) label{
  margin-right: 25px;
}

.appointment-item:first-child input,
.appointment-item:nth-child(2) input{
  box-sizing: border-box;
  width: 345px;
  height: 40px;
  padding: 12px;
}

.appointment-item:nth-child(3) input,
.appointment-item:nth-child(4) input{
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;

  text-align: center;
}

.appointment-item input{
  background-color: #f2f2f2;
  background-position: top center;
  background-repeat: no-repeat;
  border: none;
}

.appointment-item input:hover{
  background-color: #ebebeb;
  background-position: top center;
  background-repeat: no-repeat;
  border: none;
}

.appointment-item input:focus{
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

.appointment .button{
  display: block;
  width: 100%;
  padding: 19px 0;
}

.appointment .search{
  margin-top: 55px;
}

.appointment .button-brown{
  padding: 30px;
}

.appointment-item{
  position: relative;
}

.appointment-item span::before{
  content: "";
  position: absolute;
  right: 20px;
  top: 10px;

  width: 21px;
  height: 22px;

  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.appointment-item span:hover::before{
  fill:#000000;
}

.appointment-item span:hover::before{
  fill:#81b3d2;
}

.appointment-item:nth-child(3),
.appointment-item:nth-child(4){
  display: inline-block;
  vertical-align: bottom;

  font-size: 0;
}

button.minus{
  width: 38px;
	height: 38px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #a9a9a9;

	background-color: #f2f2f2;
  border: none;
  border-radius: 0;
}

button.plus{
  width: 38px;
	height: 38px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #a9a9a9;

	background-color: #f2f2f2;
  border: none;
  border-radius: 0;
}

button.minus:hover,
button.plus:hover{
  color: #000000;
}

button.minus:focus,
button.plus:focus{
  color: #81b3d2;
}

.filters{
  padding: 20px 70px;
  background-color: #000000;
  background-image: url("../img/filter-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.filter fieldset{
  margin: 0;
  padding: 0;
  border: none;
}

.filter fieldset:first-child{
  margin-right: 150px;
}

.filter legend{
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filters-column{
  display: flex;
  justify-content: flex-start;
}

.filter-cost{
  margin-left: auto;
}

.filter ul{
  padding: 0;
  margin: 0;

  list-style: none;
}

.filter-option{
  margin-bottom: 30px;
  padding-left: 38px;
}

.filter-option label{
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-option label{
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.filter-input:hover + label{
  color: #81b3d2;
}

.filter-input:focus + label{
  color: #000000;
  opacity: 0.3;
}

.filter-input:active + label{
  color: #766357;
  opacity: 0.3;
}

.filter-input-checkbox + label::before{
  content: "";

  position: absolute;
  left: -38px;
  top: 0px;

  width: 19px;
  height: 19px;

  border: 2px solid #ffffff;
  border-radius: 4px;
}

.filter-input-checkbox:checked + label::before{
  content: "";

  position: absolute;
  left: -38px;
  top: 0px;

  width: 27px;
  height: 23px;

  border: none;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:disabled + label::before{
  border-color:#6a6a6a;
}

.filter-input-checkbox:checked:disabled + label::before{
  background-image: url("../img/checkbox-on-disabled.svg");
}

.filter-cost{
  width: 330px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title{
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls{
  position: relative;

  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after{
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label{
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price{
  width: 90px;
  padding-left: 65px;
}

.price-controls input{
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls{
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale{
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar{
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle{
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover{
  border: 10px solid #ffffff;
}

.range-toggle-min{
  left: 0;
}

.range-toggle-max{
  left: 80%;
}

.sorting{
  display: flex;
  width: 1200px;
}

.sorting-catalog{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sorting-list{
  display: flex;
  width: 816px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sorting-option-up{
  position: relative;
  margin-right: 15px;
  margin-left: auto;
}

a.sorting-option-up{
  content: "";

  margin-right: 15px;
  position: absolute;
  top: 5px;

  width: 10px;
  height: 11px;

  background-image: url("../img/icon-up.svg");
  background-repeat: no-repeat;
}

.sorting-option-down{
  position: relative;
}

a.sorting-option-down{
  content: "";

  position: absolute;
  top: 5px;

  width: 11px;
  height: 10px;

  background-image: url("../img/icon-down.svg");
  background-repeat: no-repeat;
}

a.sorting-option-up:hover,
a.sorting-option-down:hover{
  background-image: url("../img/icon-down-black.svg");
}

a.sorting-option-up:focus,
a.sorting-option-up:active,
a.sorting-option-down:focus,
a.sorting-option-down:active{
  fill: #81b3d2;
}

.sorting h2{
  margin: 0;
  padding: 30px 70px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sorting-catalog p{
  margin-right: 40px;

  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting-option a{
  margin: 0;
  margin-right: 30px;
  padding: 0;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  opacity: 0.3;
}

.sorting-option a:hover{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #81b3d2;
}

.sorting-option a:focus{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  border-bottom: none;
}

.sorting-option a.current,
.sorting-option a:active{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #81b3d2;

  border-bottom: none;
}

.filter-results-list{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-results-item{
  display: flex;
  padding: 30px 0px;

  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.filter-results-image{
  width: 135px;
  height: 90px;
  margin: 5px 30px 0px 70px;
  padding: 0;
}

.filter-results-info{
  width: 260px;
}

.filter-results-info h2{
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.filter-results-detail a{
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font: inherit;
  font-weight: 700;

  color: #ffffff;
}

.filter-results-name{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.filter-results-name:hover{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #81b3d2;
}

.filter-results-name:focus{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  opacity: 0.3;
}

.filter-results-rating{
  width: 250px;
  margin: 0;
  margin-left: auto;
}

.filter-results-rating p{
  width: 110px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  font: inherit;
  color: #666666;
  text-align: center;

  background-color: #f2f2f2;
}

.filter-rating-list{
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 47px;
  padding: 0;

  list-style: none;
}

.rating{
  width: 18px;
  height: 17px;

  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
}

.main-footer{
  margin: 0;
  padding: 35px 0;

  color: #000000;
  text-align: center;

  background-color: #ffffff;
  background-image: url("img/light.png");
  background-position: top center;
  background-repeat: no-repeat;
}

.main-footer .container{
  display:flex;
  justify-content: space-between;
  align-items: baseline;
}

.main-footer h2{
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-hashtag{
  width: 400px;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

.footer-social{
  width: 400px;
}

.footer-social ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 150px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:hover{
  background-color: #669ec0;
}

.social-button:focus{
  background-color: #5496bd;
}

.social-button:hover path{
  fill: #fff;
}

.social-button:focus path{
  fill: #fff;
  opacity: 0.3;
}

.footer-copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  margin: 0;
}

.footer-copyright-icon{
  width: 115px;
  height: 41px;
  margin-left: 5px;
}

.footer-copyright-icon:hover path,
.footer-copyright-icon:hover rect{
  fill: #81b3d2;
}

.footer-copyright-icon:focus path,
.footer-copyright-icon:focus rect{
  fill: #bdbbbc;
}
