body{
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
  background-position: top center;
  background-repeat: no-repeat;
}

.pager-wrapper{
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

a{
  text-decoration: none;
}

a.dot{
  border-bottom: 1px dashed #81b3d2;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button{
  display: inline-block;

  padding: 8px 15px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus{
  background-color: #669ec0;
  border: none;
}

.button:active{
  opacity: 0.3;

  background-color: #5496bd;
  border: none;
}

.button-brown{
  font-size: 21px;
  line-height: 26px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.button-brown:hover{
  background-color: #604e43;
  border: none;
}

.button-brown:focus{
  color: rgb(255, 255, 255, 0.3);

  background-color: #503e33;
  border: none;
}

.button.disabled,
.button:disabled{
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

.filter-results-info .button{
  padding: 2px 17px;
  font: inherit;
  font-weight: 700;
  color: #ffffff;
}

.filter-button{
  display: block;

  margin: 0;
  margin-left: 83px;
  padding: 6px 34px;

  font: inherit;
  color: #ffffff;

  background-color: transparent;
  border: 2px solid white;
  border-radius: 2px;
  cursor: pointer;
}

.filter-button:hover{
  color: #000000;

  background-color: #ffffff;
  border: none;
}

.main-header{
  position: relative;
}

.main-navigation{
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.container{
  width: 1200px;
  margin: 0 auto;
}

.main-header-logo{
  position: absolute;
  left: 50%;
  margin-left: -69px;

  width: 138px;
  height: 70px;
}

.main-navigation ul{
  display: flex;
  width: 478px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.info-navigation li,
.coordinate-navigation li{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 239px;
  min-height: 56px;
}

.info-navigation li{
  text-align: left;
}

.info-navigation li:first-child{
  padding-left: 72px;
}

.info-navigation li:last-child{
  padding-left: 75px;
}

.coordinate-navigation li{
  text-align: right;
}

.coordinate-navigation li:first-child{
  padding-left: 76px;
}

.coordinate-navigation li:last-child{
  padding-left: 98px;
}

.info-navigation a,
.coordinate-navigation a{
  margin: 0;
  padding: 0;
  padding-top: 12px;
  padding-bottom: 14px;

  color: #000000;
}

.info-navigation a:hover,
.coordinate-navigation a:hover{
  color: #81b3d2;
}

.info-navigation a:focus,
.coordinate-navigation a:focus{
  color: #000000;

  opacity: 0.3;
}

.info-navigation a:active,
.coordinate-navigation a:active{
  color: #766357;
}

figure{
  width: 1200px;
  height: 509px;
  margin: 0;
  padding: 0;
}

.dignities{
  text-align: center;
  padding-top: 59px;

  background-color: #ffffff;
}

.page-title{
  width: 440px;
  margin: 0 auto;
  margin-bottom: 27px;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.five-dignities{
  margin: 0px;
  margin-bottom: 51px;
  padding: 0px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-align: center;
}

.dignities-list{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.dignities-item{
  width: 400px;
  height: 256px;
  text-align: center;

  background-color: #eeeeee;
}

.dignities-item h2{
  margin: 47px 120px 25px 120px;
  padding: 0;
}

.dignities-item:nth-child(5) h2{
  margin: 45px 150px 25px 150px;
  padding: 0;
}

.dignities-item:first-child .dignities-item-image{
  width: 800px;
  height: 256px;

  background-image: url("../img/vicinity-Sedona.jpg");
  background-repeat: no-repeat;
}

.dignities-item:nth-child(2) .dignities-item-image{
  width: 800px;
  height: 256px;

  background-image: url("../img/devil's-bridge.jpg");
  background-repeat: no-repeat;
}

.dignities-item:first-child{
  order: -2;
}

.opportunity{
  order: -1;
}

.dignities-item:first-child,
.dignities-item:nth-child(2){
  display: flex;
  width: 1200px;
  text-align: center;
}

.dignities-item,
.dignities-item-info{
  width: 400px;
  text-align: center;
}

.dignities-item-info h2{
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.dignities-item-info p,
.dignities-item-info span{
  width: 305px;
  margin: 0 auto;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #ffffff;
}

.dignities-item p,
.dignities-item span{
  width: 280px;
  margin: 0 auto;
  padding: 0;
}

.dignities-item:nth-child(2) p{
  width: 305px;
}

.opportunity-item-advice{
  width: 265px;
  margin: 0 auto;
  padding: 0;
}

.dignities-item-info p,
.dignities-item p{
  margin-top: 21px;
}

.dignities-item-info .dignities-item-number{
  position: relative;
}

.dignities-item-info .dignities-item-number::before{
  content: "";

  position: absolute;
  top: 8px;
  left: 25px;

  width: 9px;
  height: 2px;

  background-color: #ffffff;
}

.dignities-item-info .dignities-item-number::after{
  content: "";

  position: absolute;
  top: 8px;
  right: 25px;

  width: 9px;
  height: 2px;

  background-color: #ffffff;
}

.dignities-item .dignities-item-number{
  position: relative;
}

.dignities-item span::before{
  content: "";

  position: absolute;
  top: 8px;
  left: 25px;

  width: 9px;
  height: 2px;

  background-color: #333333;
}

.dignities-item span::after{
  content: "";

  position: absolute;
  top: 8px;
  right: 25px;

  width: 9px;
  height: 2px;

  background-color: #333333;
}

.dignities-item-image{
  width: 800px;
}

.dignities-item-info{
  background-color: #81b3d2;
}

.opportunity-list{
  display: flex;
  height: 330px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.opportunity-item-advice{
  width: 400px;
}

.opportunity-item-advice h2{
  margin: 0;
  margin-top: 161px;
  margin-bottom: 24px;
  padding: 0;

  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
}

.opportunity-item-advice h2{
  position: relative;
}

.opportunity-item-advice h2 .house::before{
  content: "";

  position: absolute;
  top: -100px;
  left: 50%;

  width: 77px;
  height: 77px;
  margin-left: -40px;

  background-image: url("../img/house.svg");
  background-position: top center;
  background-repeat: no-repeat;
  border: none;
}

.opportunity-item-advice h2 .food::before{
  content: "";

  position: absolute;
  top: -99px;
  left: 50%;

  width: 77px;
  height: 77px;
  margin-left: -41px;

  background-image: url("../img/food.svg");
  background-position: top center;
  background-repeat: no-repeat;
  border: none;
}

.opportunity-item-advice h2 .prize::before{
  content: "";

  position: absolute;
  top: -104px;
  left: 50%;

  width: 77px;
  height: 77px;
  margin-left: -39px;

  background-image: url("../img/prize.svg");
  background-position: top center;
  background-repeat: no-repeat;
  border: none;
}

.opportunity-item-advice p{
  width: 285px;
  margin: 0 auto;
  padding: 0;

  font:inherit;
}

.search-tour{
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0;
  padding: 0;
  padding-top: 50px;

  text-align: center;

  background-color: #ffffff;
}

.search-tour .container{
  width: 445px;
  margin-bottom: 47px;
}

.search-tour .interested{
  margin-bottom: 23px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.search-tour p{
  margin:0;
  padding: 0;

  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
}

.appointment{
  width: 568px;
  margin: 0 auto;
  padding: 0;

  z-index: 3;

  background-color: #ffffff;
}

@keyframes bounce {
  0% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal{
  position: absolute;
  display: none;
  width: 568px;
  margin: 0 auto;
  padding: 0;

  z-index: 3;

  background-color: #ffffff;
}

.modal-show{
  display: block;

  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.appointment-form{
  display: flex;
  flex-wrap: wrap;
  margin: 53px 56px 54px 55px;

  text-align: left;
}

.appointment-item{
  display: flex;
  align-items: center;
}

.appointment-item:first-child{
  width:458px;

  margin: 0;
  margin-bottom: 27px;
  padding: 0;
}

.appointment-item:nth-child(2){
  width:458px;

  margin: 0;
  margin-bottom: 29px;
  padding: 0;
}

.appointment-item:nth-child(3){
  width:225px;
  margin: 0;
  margin-right: 52px;
  padding: 0;
}

.appointment-item:nth-child(4){
  width: 180px;
  margin: 0;
  padding: 0;
}

.appointment-item label,
.appointment-item input{
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

::-webkit-input-placeholder{
   color: #000000;
}

::-moz-placeholder{
   color: #000000;
}

:-moz-placeholder{
   color: #000000;
}

:-ms-input-placeholder{
   color: #000000;
}

.appointment-item:first-child label{
  margin-right: 22px;
}
.appointment-item:nth-child(2) label{
  margin-right: 18px;
}

.appointment-item:nth-child(3) label{
  margin-right: 42px;
}

.appointment-item:nth-child(4) label{
  margin-right: 28px;
}

.appointment-item:first-child input,
.appointment-item:nth-child(2) input{
  box-sizing: border-box;
  width: 345px;
  height: 40px;
  padding: 12px;
}

.appointment-item:nth-child(3) input,
.appointment-item:nth-child(4) input{
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;

  text-align: center;
}

.appointment-item input{
  box-sizing: border-box;

  background-color: #f2f2f2;
  background-position: top center;
  background-repeat: no-repeat;
  border: none;
}

.appointment-item input:hover{
  background-color: #ebebeb;
  background-position: top center;
  background-repeat: no-repeat;
  border: none;
}

.appointment-item input:focus{
  background-color: transparent;
  border: 2px solid #e5e5e5;
}

.appointment .button{
  display: block;
  width: 100%;
  padding: 15px 0;
}

.appointment .search{
  margin-top: 55px;
}

.appointment .button-brown{
  padding: 30px;
}

.appointment-item{
  position: relative;
}

.appointment-item span{
  content: "";
  position: absolute;
  right: 9px;
  top: 8px;

  width: 21px;
  height: 22px;
}

.calendar>svg{
  fill:#cacaca;
}

.calendar:hover>svg{
  fill:#000000;
}

.calendar:focus>svg{
  fill:#81b3d2;
}

button.minus{
  display: block;

  width: 38px;
	height: 38px;
  margin: 0;
  padding: 0;

  font-size: 26px;
  font-weight: 700;
  color: #a9a9a9;

	background-color: #f2f2f2;
  border: none;
  border-radius: 0;
}

button.plus{
  width: 38px;
	height: 38px;
  margin: 0;
  padding: 0;

  font-size: 26px;
  font-weight: 700;
  color: #a9a9a9;

	background-color: #f2f2f2;
  border: none;
  border-radius: 0;
}

button.minus:hover,
button.plus:hover{
  color: #000000;
}

button.minus:focus,
button.plus:focus{
  color: #81b3d2;
}

.map{
  position: relative;

  width: 1200px;
  height: 594px;
}

.map p{
  position: absolute;
  z-index: 1;

  margin: 0;
}

.map iframe{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

  margin: 0;
  border: none;
}

.filters{
  padding: 27px 73px 32px 73px;
  background-color: #000000;
  background-image: url("../img/filter-background.jpg");
  background-position: top center;
  background-repeat: no-repeat;
}

.filter fieldset{
  margin: 0;
  padding: 0;
  border: none;
}

.filter fieldset:first-child{
  margin-right: 117px;
}

.filter legend{
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.filters-column{
  display: flex;
  justify-content: flex-start;
}

.filter-cost{
  margin-left: 348px;
}

.filter ul{
  padding: 0;
  margin: 0;

  list-style: none;
}

.filter-option{
  margin-bottom: 24px;
  padding-left: 38px;
}

.filter-option:last-child{
  margin-top: 25px;
}

.accommodation{
  padding-left: 42px;
}

.filter-option:last-child{
  margin-bottom: 0;
}

.filter-option label{
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}

.filter-option label{
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
}

.filter-input:hover + label{
  color: #81b3d2;
}

.filter-input:focus + label{
  color: #000000;
  opacity: 0.3;
}

.filter-input:active + label{
  color: #766357;
  opacity: 0.3;
}

.filter-input-checkbox + label::before{
  content: "";

  position: absolute;
  left: -38px;
  top: 0px;

  width: 19px;
  height: 19px;

  border: 2px solid #ffffff;
  border-radius: 4px;
}

.filter-input-checkbox:checked + label::before{
  content: "";

  position: absolute;
  left: -38px;
  top: 0px;

  width: 27px;
  height: 23px;

  border: none;

  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.accommodation .filter-input-checkbox:checked + label::before{
  left: -42px;
}

.filter-input-checkbox:disabled + label::before{
  opacity: 0.5;
}

.filter-cost{
  width: 316px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title{
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls{
  position: relative;

  height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after{
  content: "";

  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label{
  display: inline-block;

  font-size: 14px;
  line-height: 28px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price{
  width: 91px;
  padding-left: 64px;
}

.price-controls .max-price{
  width: 91px;
  padding-left: 56px;
}

.price-controls input{
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls{
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale{
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar{
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle{
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover{
  border: 10px solid #ffffff;
}

.range-toggle-min{
  left: 0;
}

.range-toggle-max{
  left: 80%;
}

.sorting{
  display: flex;
  align-items: baseline;
  width: 1200px;

  background-color: #ffffff;
}

.sorting h2{
  margin: 0;
  padding: 30px 48px 30px 72px;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sorting-catalog{
  display: flex;
}

.sorting-catalog p{
  margin-right: 40px;

  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sorting-list{
  display: flex;
  width: 780px;
  margin: 0;
  margin-top: 9px;
  padding: 0;

  list-style: none;
}

.sorting-option a{
  margin: 0;
  margin-right: 32px;
  padding: 0;

  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  opacity: 0.3;
}

.sorting-option-up{
  position: relative;
  margin-left: 474px;
  margin-right: 12px;
}

a.sorting-option-up{
  content: "";

  position: absolute;
  top: 5px;

  width: 10px;
  height: 11px;
}

.sorting-option-down{
  position: relative;
}

a.sorting-option-down{
  content: "";

  position: absolute;
  top: 5px;

  width: 11px;
  height: 10px;
}

.sorting-option-up a:hover polygon,
.sorting-option-down a:hover polyline{
  fill: #000000;
}

.sorting-option-up a:focus polygon,
.sorting-option-up a:active polygon,
.sorting-option-down a:focus polyline,
.sorting-option-down a:active polyline{
  fill: #81b3d2;
}

.sorting-option-up-current a polygon,
.sorting-option-down-current a polyline,
.sorting-option-up-current a:hover polygon,
.sorting-option-down-current a:hover polyline,
.sorting-option-up-current a:focus polygon,
.sorting-option-up-current a:active polygon,
.sorting-option-down-current a:focus polyline,
.sorting-option-down-current a:active polyline{
  fill: #81b3d2;
}

.sorting-option a:hover{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #81b3d2;
}

.sorting-option a:focus{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  border-bottom: none;
}

.sorting-option a.current,
.sorting-option a:active{
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #81b3d2;

  border-bottom: none;
}

.filter-results{
  background-color: #ffffff;
}

.filter-results-list{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-results-item{
  display: flex;
  padding: 30px 0;

  border-top: 1px solid #e5e5e5;
}

.filter-results-item:last-child{
  border-bottom: 1px solid #e5e5e5;
}

.filter-results-image{
  width: 135px;
  height: 90px;
  margin: 0px 30px 0px 72px;
  padding: 0;
}

.filter-results-info{
  width: 262px;
  margin: 0;
  margin-top: -5px;
  padding: 0;
}

.filter-results-info a{
  margin: 0;
  padding: 0;
}

.filter-results-info p{
  margin: 0;
  padding: 0;
}

.filter-results-info h2{
  margin: 0;
  margin-bottom: 7px;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.filter-results-info h2:hover{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #81b3d2;
}

.filter-results-info h2:focus{
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  opacity: 0.3;
}

.filter-results-item-info{
  display: flex;
  margin-bottom: 15px;
}

.filter-results-item-info p{
  width: 110px;
  margin-right: 6px;
}

.filter-results-info .button{
  margin-right: 2px;
}

.filter-results-rating{
  width: 250px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  padding-right: 71px;
}

.filter-results-rating p{
  width: 110px;
  margin: 0;
  margin-left: auto;
  padding: 0;

  font: inherit;
  color: #666666;
  text-align: center;

  background-color: #f2f2f2;
}

.filter-rating-list{
  display: flex;
  justify-content: flex-end;
  margin: 0;
  margin-bottom: 49px;
  padding: 0;

  list-style: none;
}

.rating{
  width: 18px;
  height: 17px;
  margin-left: 6px;

  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
}

.main-footer{
  position: relative;

  width: 1200px;
  margin: 0 auto;
  margin-top: -120px;
  padding: 0;
  padding-top: 34px;
  padding-bottom: 38px;
  z-index: 4;

  color: #000000;
  text-align: center;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
  opacity: 0.9;
}

.inner-page .main-footer{
  width: 1200px;
  margin: 0 auto;
  padding: 36px 0;

  color: #000000;
  text-align: center;

  background-color: #ffffff;
  background-position: top center;
  background-repeat: no-repeat;
}

.main-footer .container{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.main-footer h2{
  margin: 0;
  padding: 0;

  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-hashtag{
  width: 400px;
  margin: 0;
  padding: 0;
}

.footer-social{
  width: 400px;
}

.footer-social ul{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 150px;
  margin: 0;
  margin-left: 125px;
  padding: 0;

  list-style: none;
}

.footer-social li{
  margin-right: 6px;
}

.footer-social li:last-child{
  margin-right: 0;
}

.social-button{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:hover{
  background-color: #669ec0;
}

.social-button:focus{
  background-color: #5496bd;
}

.social-button:hover path{
  fill: #fff;
}

.social-button:focus path{
  fill: #fff;
  opacity: 0.3;
}

.footer-copyright{
  display: flex;
  align-items: center;
  width: 400px;
  margin: 0;
  padding: 0;
}

.footer-copyright p{
  margin: 0;
  margin-left: 102px;
  padding: 0;
}

.footer-copyright-icon{
  width: 115px;
  height: 41px;
  margin-left: 9px;
}

.footer-copyright-icon:hover path,
.footer-copyright-icon:hover rect{
  fill: #81b3d2;
}

.footer-copyright-icon:focus path,
.footer-copyright-icon:focus rect{
  fill: #bdbbbc;
}
